.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  position: relative;
  z-index: 1;
}
.inputs{
  border: 1px solid black!important;
}
.login-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #9e1a1a;
  background-clip: padding-box;
  border: 1px solid black;

}

button {
  font-size: 16px;
  padding: 10px;
}

.alert {
  text-align: center;
}
/* .login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
  }
  
  .login-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  button {
    font-size: 16px;
    padding: 10px;
  }
  
  .alert {
    text-align: center;
  }
   */